body {
  background-color: #d1e3ef;
  margin: 0;
}

header {
  padding: 15px;
  background-color: #002d62;
}

a {
  text-decoration: none;
  color: #ff7309;
}

a:hover {
  color: #006ab3;
}

.no-style {
  text-decoration: none;
  color: #002d62;
}

nav {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  font-family: "Oswald", "Arial", sans-serif;
}

.navigation {
  display: inline;
  padding: 0 10px;
}

.thumbnail {
  margin-left: 10%;
  float: left;
  margin-right: 40px;
  border: 10px solid #002d62;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: lowercase;
  font-size: 32px;
  text-align: center;
  margin: 30px 0;
  display: block;
  color: #002d62;
}

.about {
  font-family: "PT Serif", serif;
  display: inline-block;
}

p {
  font-family: "PT Serif", serif;
  margin-right: 10%;
  color: #242423;
}

h4 {
  font-family: "Oswald", sans-serif;
  color: #006ab3;
  text-transform: uppercase;
}

.experience {
  display: block;
  font-family: "PT Serif", sans-serif;
  margin-left: 10%;
}

.skills {
  display: inline-block;
  font-family: "PT Serif", sans-serif;
  margin-left: 10%;
  background-color: #ff7309;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.project {
    display: inline-block;
    padding: 50px 75px;
    background-color: #002d62;
    margin-left: 10%;
    box-shadow: 8px 8px #006ab3;
}

.project p {
    color: #fff;
}
